html
{
    font-family: 'Helvetica Neue', 'Roboto', Sans;
}
.content
{
    width: 70%;
    margin: 0 auto;
}

.fire
{
    font-weight: 700;
    font-stretch: 1.5;

    color: red;
}

.lit-link
{
    font-size: 24px;

    width: 80%;
    margin: 0 auto;
    padding: 1em .5em;

    resize: none;

    color: #f44336;
    border: none;
    border-bottom: solid 1px orange;
    outline: none;
}
